{% load static %}
{% block content %}
<html>
	
	<head>
		<link rel="stylesheet" href="{% static 'assets/css/wall.css' %} ">
		<link rel="stylesheet" href="{% static 'assets/css/util.css' %}">
		<!-- <script type="java" src="{% static 'assets/javascript/wallet.js' %}"></script>   -->
		</script>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Simple Header - CodeWith Random</title>
    </head>
    <body>
        <header class="site-header">
			
			<!-- <img src="{% static 'assets/images/profile.jpg' %}" style="width:5rem;height:5rem;border-radius: 50%;" class="openbtn" onclick="openNav()"> -->
            <div id="mySidepanel" class="sidepanel" style="text-align:center;width:20%">
				<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">x</a>
				<img src="{{Data.image.url}}"  style="width:4rem;height:4rem;border-radius: 50%; ">
				<br><br>
				<img src={{Data.qr_code.url}} alt="Error"  style="width:40%;height:30%;">
				<br>
				<h3 style="color:white;">{{Data.name}}</h3>
				<h5 style="color:white;">UPI-ID:{{Data.mobile}}@timepay</h5>
				
			  </div>
			  
			  <img src="{% static 'assets/images/profile.jpg' %}" class="openbtn" onclick="openNav()"> 
			<h1><a href="#">Timepay</a></h1>
            <nav class="site-navigation">
                <ul class="nav">
                    
                    <li><a href="#">About</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
				
					<!-- <div id="myDropdown" class="dropdown-content">
						
					  <a href="#">{{Data.mobile }}@timepay</a>
					  <a href="#">Link 2</a>
					  <a href="#">Link 3</a>
					</div>
				  </div> -->
            </nav>
        </header>
    </body>



<form method="post" >
  {%csrf_token%}

	<div class="wallet-container text-center">
		<p class="page-title"><i class="fa fa-align-left"></i> {{Data.name}} <i class="fa fa-user"></i></p>
		<div class="amount-box text-center">
			<img src="https://lh3.googleusercontent.com/ohLHGNvMvQjOcmRpL4rjS3YQlcpO0D_80jJpJ-QA7-fQln9p3n7BAnqu3mxQ6kI4Sw" alt="wallet">
			<p>Total Balance</p>
			<h1>{{Data.Balance}}</h1>   
		</div>
		
		<div class="btn-group text-center">
			
			<a class="btn btn-primary" href="{% url 'add' Data.mobile %}" role="button">Add money</a>


			<a class="btn btn-primary" href="{% url 'withdraw' Data.mobile %}" role="button">Withdraw money</a>
			</div>
            <a class="btn btn-primary" href="{% url 'bank_transfer' %}" role="button">Bank Transfer</a>
			<div class="txn-history">
				<p><b>History</b></p>
				<p class="txn-list">Payment to xyz shop<span class="debit-amount">-$100</span></p>

				<p class="txn-list">Payment to abc shop<span class="debit-amount">-$150</span></p>

				<p class="txn-list">Credit From abc ltd<span class="credit-amount">+$300</span></p>

				<p class="txn-list">Transfer From John Doe<span class="credit-amount">+$100</span></p>
			</div>

			<div class="footer-menu">
				<div class="row text-center">
					<div class="col-md-3">
						<i class="fa fa-home"></i>
						<p>Home</p>
					</div>

					<div class="col-md-3">
						<i class="fa fa-inbox"></i>
						<p>Inbox</p>
					</div>

					<div class="col-md-3">
						<i class="fa fa-university"></i>
						<p>Bank</p>
					</div>

					<div class="col-md-3">
						<i class="fa fa-barcode"></i>
						<p>Scan</p>
					</div>
				</div>
			</div>
</div>
<script>
	function openNav() {
	  document.getElementById("mySidepanel").style.width = "250px";
	}
	
	function closeNav() {
	  document.getElementById("mySidepanel").style.width = "0";
	}
	</script>

</form>

	
</body>


</html>


{% endblock %}